.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust minmax values as needed */
    grid-gap: 1rem;
    margin: 0 auto;
    max-width: 1200px; /* Adjust max-width as needed */
  }
  
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  
  @media (max-width: 480px) {
    /* Apply tilt only to mobile devices */
    .tilted-image {
      transform: rotate(90deg) translateX(-50%); /* Adjust tilt angle and X translation */
      transform-origin: 0% 0%; /* Top left corner as pivot */
      transition: transform 0.7s ease-in-out;
      /* Center horizontally using margin: auto */
      margin-left: 40px;
      width: 90%;
    }
  
    .tilted-image:hover {
      transform: rotate(10deg); 
    }
  }
  .astro-image {
    top: calc(50% - 40px);
  }
  
  @media (max-width: 480px) {
    .astro-image {
      top: calc(50% - 40px); 
      transition: transform 1s ease-in-out;
      width: 50%;
      margin-left: -8%;
      height: 45%;

    }
  }
  

  